@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400&family=IBM+Plex+Sans:wght@200&family=Kumbh+Sans:wght@200&family=Libre+Baskerville:wght@700&family=Lobster+Two&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
   box-sizing: border-box;
}
/* nav bar section starts */
.nav_bar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  padding: 10px;
  top: 0px;
  background-color: #000000;
}
.nav_bar ul {
  list-style: none;
  display: inline-flex;
  padding-top: 20px;
}
.nav_bar ul li {
  padding-right: 50px;
}
.nav_bar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500px;
  font-size: 20px;
  font-style: normal;
}
.nav_bar ul li a:hover {
  color: #ff6464;
  transition: ease-out;
}
/* nav section ends */
/* header section begins */
.header_section {
  margin: 40px 60px;
  display: flex;
  flex-direction: row;
}
.header_contents {
  margin-right: 50px;
}
.header_img .image1 {
  width: 300px;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #888888;
}
.header_contents .job_name {
  font-size: 40px;
  padding-bottom: 30px;
  color: #00000f;
  /* margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15em;
  border-right: 0.15em solid rgb(22, 21, 21);
  animation: typing 6.5s steps(40, end) infinite,
    cursor-blink 0.75s step-end infinite; */
}
/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
} */
.header_writeups .header_writeup1 {
  padding-bottom: 30px;
  line-height: 20px;
  word-break: break-all;
}
.header_writeups .header_writeup2 {
  padding-bottom: 30px;
  line-height: 20px;
  word-break: break-all;
}
.header_writeups .header_writeup3 {
  padding-bottom: 30px;
  line-height: 20px;
  word-break: break-all;
}
.header_button .btn1 {
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #0e0ee7;
  margin-right: 10px;
  box-shadow: 5px 5px 8px #888888;
}
.header_button .btn2 {
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #60c7f0;
  margin-right: 10px;
  box-shadow: 5px 5px 6px #888888;
}
.header_button .btn3 {
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #000000cc;
  box-shadow: 5px 5px 6px #888888;
}
.header_button .btn1:hover,
.header_button .btn2:hover,
.header_button .btn3:hover {
  color: #000000;
}
/* header section ends */
/* main section starts */

.sectioncontent {
  display: flex;
  margin: 40px 60px;
  flex-direction: row;
}
/* images editing strats */
.banner {
  max-width: 100%;
  height: 250px;
}
.person {
  max-width: 100%;
  height: 250px;
}
.persons {
  width: 100%;
  height: 250px;
}
.rectangle {
  width: 100%;
  height: 250px;
}
/* images editing ends */
/* section contents 123 edit */
.sectioncontent_1 {
  border: 0.5px solid #00000041;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 6px #888888;
}
.sectioncontent_2 {
  border: 0.5px solid #00000041;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 6px #888888;
}
.sectioncontent_2:hover,
.sectioncontent_3:hover,
.sectioncontent_1:hover {
  position: relative;
  bottom: 12px;
}
.sectioncontent_3 {
  border: 0.5px solid #00000041;
  border-radius: 5px;
  box-shadow: 5px 5px 6px #888888;
}
/* ends */
/* contents editing starts */
.Contents {
  text-align: center;
  padding: 20px;
}
.Contents button {
  margin-top: 20px;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #0e0ee7;
  margin-right: 10px;
  box-shadow: 5px 5px 8px #888888;
}
.Contents button:hover {
  color: #000000;
}
.Contents h3 {
  padding-bottom: 20px;
}
.Contents p {
  line-height: 25px;
  word-break: break-all;
}
/* ends */
/* footer starts */
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer span {
  font-size: 30px;
  padding: 10px;
}
footer p {
  margin-top: 10px;
}
/* footer ends */
/* media query */
@media screen and (max-width: 600px) {
  .header_section {
    flex-direction: column-reverse;
    margin: 40px 30px;
  }
  .sectioncontent {
    flex-direction: column;
    margin: 40px 30px;
  }
  .nav_bar ul li a {
    font-size: 15px;
  }
  .nav_bar ul {
    padding-left: 50px;
  }
  .header_img .image1 {
    max-width: 100%;
    border-radius: 100%;
    height: 250px;
  }
  .header_contents .job_name {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #00000f;
  }
  .header_button .btn1 {
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0e0ee7;
    margin-right: 20px;
    box-shadow: 5px 5px 8px #888888;
  }
  .header_button .btn2 {
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #60c7f0;
    margin-right: 20px;
    box-shadow: 5px 5px 8px #888888;
  }
  .header_button .btn3 {
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #000000cc;
    margin-right: 10px;
    box-shadow: 5px 5px 8px #888888;
  }
  .sectioncontent_1,
  .sectioncontent_2 {
    border: 0.5px solid #00000041;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px #888888;
  }
  .Contents p {
    line-height: 25px;
    word-break: break-all;
    font-size: 15px;
  }
  .Contents button {
    margin-top: 10px;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0e0ee7;
    margin-right: 10px;
    box-shadow: 5px 5px 8px #888888;
  }
  footer span {
    font-size: 20px;
    padding: 10px;
  }
  footer p {
    margin-top: 10px;
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header_section {
    flex-direction: column-reverse;
    margin: 40px 30px;
  }
  .sectioncontent {
    flex-direction: column;
    margin: 40px 30px;
  }
  .nav_bar ul li a {
    font-size: 10px;
  }
  .nav_bar ul {
    padding-left: 50px;
  }
  .header_img .image1 {
    max-width: 100%;
    border-radius: 100%;
    height: 250px;
  }
  .header_contents .job_name {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #00000f;
  }
  .header_button .btn1 {
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0e0ee7;
    margin-right: 20px;
    box-shadow: 5px 5px 8px #888888;
  }
  .header_button .btn2 {
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #60c7f0;
    margin-right: 20px;
    box-shadow: 5px 5px 8px #888888;
  }
  .header_button .btn3 {
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #000000cc;
    margin-right: 10px;
    box-shadow: 5px 5px 8px #888888;
  }
  .sectioncontent_1,
  .sectioncontent_2 {
    border: 0.5px solid #00000041;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px #888888;
  }
  .Contents p {
    line-height: 25px;
    word-break: break-all;
    font-size: 15px;
  }
  .Contents button {
    margin-top: 10px;
    border: none;
    color: #ffffff;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    background-color: #0e0ee7;
    margin-right: 10px;
    box-shadow: 5px 5px 8px #888888;
  }
  footer span {
    font-size: 20px;
    padding: 10px;
  }
  footer p {
    margin-top: 10px;
    font-size: 10px;
  }
}
